.vertical2-slider .container {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 30px;
}

.vertical2-slider .abc__content {
    /* margin: 0 150px; */
}

/* Стилизация точек */
.vertical2-slider .slick-dots {
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
    /* bottom: -70px; */
}

/* Стилизация неактивных точек */
.vertical2-slider .slick-dots li button:before {
    font-size: 12px;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    border: 1px solid var(--color-azure);
    top: 0;
    left: -5px;
    transform: translateY(-30%);
    opacity: 1;
}

/* Стилизация активной точки */
.vertical2-slider .slick-dots li.slick-active button:before {
    font-size: 16px;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    background-color: var(--color-azure);
    border: 1px solid var(--color-azure);
    box-shadow: 0px 5px 14px 0px rgba(140, 50, 19, 0.3);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    z-index: -1;
}

.vertical2-slider .slick-dots > li > button {
    height: 0px;
    padding: 6px;
    color: var(--color-azure);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.vertical2-slider .slick-dots > .slick-active > button {
    height: 30px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    position: inherit;
    z-index: 1;

    /* z-index: 1; */
    /* width: 100%; */
    /* width: 30px;
    height: 30px;
    border-radius: 90px;
    background-color: var(--color-azure);
    border: 1px solid var(--color-azure);
    box-shadow: 0px 5px 14px 0px rgba(140, 50, 19, 0.3); */
}

.vertical2-slider .slick-dots li {
    margin-left: 10px;
}
.vertical2-slider .slick-dots li:first-child {
    margin-left: 0px;
}

.container .slick-slide img {
    display: inline-block;
}

/* Стилизация стрелок */
.vertical2-slider .container .slick-next {
    border-radius: 50%;
    background-color: none;
    border: 1px solid var(--color-azure);
    margin: 973px 465px 0px 0px;
    padding: 14px;
    background-image: url("./../../../img/icons/arrow-right-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: 0.5s;
}
.vertical2-slider .container .slick-prev {
    border-radius: 50%;
    background-color: none;
    border: 1px solid var(--color-azure);
    margin: 973px 0px 0px 465px;
    padding: 14px;
    background-image: url("./../../../img/icons/arrow-left-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: 0.5s;
}

.vertical2-slider .slick-prev {
    left: -150px;
}

.vertical2-slider .slick-next {
    right: -150px;
}

.vertical2-slider .slick-prev::before,
.vertical2-slider .slick-next::before {
    font-size: 0;
}

/* Стилизация при наведении */
.container .slick-next:hover {
    background-color: var(--color-azure);
    background-image: url("./../../../img/icons/arrow-right-small-white.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container .slick-prev:hover {
    background-color: var(--color-azure);
    background-image: url("./../../../img/icons/arrow-left-small-white.svg");
    background-repeat: no-repeat;
    background-position: center;
}
